<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 위치 정보 사용 권한 (선택 사항, 필요에 따라 추가) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- ✅ 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_main_logo"
        android:label="N분의 1"
        android:roundIcon="@drawable/ic_main_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme_OneNthApp"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme_OneNthApp">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <activity android:name=".alarm.AlarmActivity" android:exported="false" />
        <activity android:name=".MyReviewActivity" android:exported="false" />
        <activity android:name=".BuyerReview" />
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".EditMyReviewActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AlertSettingsActivity" />
        <activity android:name=".AccountSettingsActivity" />
        <activity android:name=".BlockedUsersActivity" />
        <activity android:name=".PolicyActivity" />
        <activity android:name=".LifeTipsSearchActivity" />
        <activity android:name=".LifeTipsDetailActivity" />
        <activity android:name=".chat.ChatCheckActivity" />

        <activity
            android:name=".chat.ChatRoomActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignupActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".SignupActivity2" android:exported="false" />

        <activity android:name=".ScrapActivity"/>
        <activity android:name=".LikePostActivity" />
        <activity android:name=".MyPostActivity" />
        <activity android:name=".LoginActivity2" />
        <activity android:name=".FindAccountActivity" />
        <activity android:name=".NwonSavedActivity" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="kakaob915f02e5deddf0811e43b08afbdbe41"
                    android:host="oauth"/>
            </intent-filter>
        </activity>
        <activity android:name=".WriteReviewActivity" />
        <activity android:name=".AllMyReviewActivity" />
        <activity android:name=".ReviewEditActivity" />
        <activity android:name=".MyPageReviewsActivity" />
        <activity android:name=".MyRegionActivity" />
        <activity android:name=".CreateLifePostActivity" />
        <activity android:name=".BuyerReviewDetailActivity"
            android:exported="false" />
    </application>
</manifest>
